<h1>Listing quests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Experience</th>
  </tr>

  <% @quest.each do |quest| %>
    <tr>
      <td><%= quest.name %></td>
      <td><%= quest.description %></td>
      <td><%= quest.experience_points %></td>
      <td><%= link_to 'Show', quests_path(quest) %></td>
      <td><%= link_to 'Edit', quests_edit_path(quest) %></td>
    </tr>
  <% end %>
</table>
