<p>
  <strong>Name:</strong>
  <%= @quest.name %>
</p>
<<<<<<< HEAD
 
=======

>>>>>>> 3f50d85c17b0e064ad4a97fbde56ead7173714d4
<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
<strong>Experience:</strong>
<%= @quest.experience_points %>
</p>


<<<<<<< HEAD
<%= button_to 'Delete', quests_delete_path , method: :delete %>
=======
<%= button_to 'Delete', quests_delete_path , method: :delete %>
>>>>>>> 3f50d85c17b0e064ad4a97fbde56ead7173714d4
