<!DOCTYPE html>
<html>
	<head>
<<<<<<< HEAD
		<title> Gamifications </title>
		<%= stylesheet_link_tag "stylesheet" %>
	</head>
	<body>
		<div class="TopTitle">
			
			<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpl1/v/t34.0-12/13101411_1168501766502630_968318762_n.png?oh=596b4fe110098a0eb64b90c9072f3308&oe=5723B7D5&__gda__=1461948452_47e402123fa467900a842fc77fafdf0b" class="LogoImage" />
			<h1 class="TopName">PurrSuit </h1>
			
		</div>
		<h1 class="GamificationTitle"> Gamifications </h1>
		<div class="Gamifications">
			<% @gamifications.each do | game | %>
				<div class="Gamification">
					<h2 class="GameName"><%= game.name %></h2>
					<h4><%= game.experience_points %></h4>
					<h5><%= game.description %></h4>
					<%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/magnifyingglass-128.png", :class => "ViewIcon"), show_gamification_path(game) %>
					<%= link_to image_tag("https://cdn1.iconfinder.com/data/icons/ui-icons-2/512/wrong-01-512.png", :class => "DeleteIcon"), "/gamifications/all" %>
				</div>
			<% end %>
		</div>
		<img src="https://cdn4.iconfinder.com/data/icons/e-commerce-icon-set/48/More_2-128.png" class="AddIcon" />
		
	

		<%= button_to "New Achievement", :achievements_new, :method => :get %>
		<%= button_to "New Quest", :quests_new, :method => :get %>
=======
		<%= stylesheet_link_tag "stylesheet.css" %>
	</head>
	<body>
		<h1 class="title"> PurrSuit </h1>
		<div class="principalSquare">
			<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpl1/v/t34.0-12/13101411_1168501766502630_968318762_n.png?oh=47549cc5084e124547208b5eab132db4&oe=57358415&__gda__=1463071652_c787dc3b88e61c6ea7225dce81e80862" class="purrSuitImage"/>
			<div class="subtitleR">
				<h2 class="subtitle"> Gamifications </h2>
			</div>
			<div class="buttons">
				<%= button_to "List Achievements", :achievements_all, :class => "button", :method => :get %>
				<%= button_to "New Achievement", :achievements_new, :class => "button", :method => :get %>
				<%= button_to "List Quests", :quests_all, :class=> "button", :method => :get
%>	
				<%= button_to "New Quest", :quests_new, :class => "button", :method => :get %>
			</div>
			<div class="listSquare">
		    <% @gamifications.each do | game | %>
					<div class="itemSquare">
  			    <h2 class="gamiName"><%= game.name %></h2>
            <p class="gamiDescription"><%= game.description %></p>
						<div class="pointsCircle">
  			    	<p class="gamiPoints"><%= game.experience_points %></p>
						</div>
					</div>
		    <% end %>
			</div>	
		</div>
>>>>>>> b14ca0a... Editing html views for /gamifications/all and /quests/all
	</body>
</html>
